
<br>
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Hello, People!
				</h2>
				<p>
					This is CABBY Website where you can book a cab to go from one place to another .</p>
        <p>   Please click on "Book NOW" button to proceed further.Feel comfortable with us and
          "ENJOY OUR RIDES!!!"
				</p>
				<p>
              <a href="#/start">  <img src ="./public/Img/data/book.png"/></a>
				</p>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="./public/Img/data/home1.jpg" class="img-thumbnail" />
		</div>
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="./public/Img/data/home2.jpg" class="img-thumbnail" />
		</div>
		<div class="col-md-4">
			<h1>
				Contact Us:
			</h1>
			<p>
				Anjali Kumari
        <br>
        Phone No: 9958039871
        <br>
        Email Id: anjalicabby@cab.com
        <br>
        Address: G-83,Preet Vihar,New Delhi
			</p>
      <h1>
				Service:
			</h1>
			<p>
				We provide four types of online cab booking facility.<br>
        Online and offline both. For Offline you have to connect<br>
        to above Contact details....
			</p>
		</div>
	</div>
</div>
